.result-items-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}

li {
  list-style: none;
}
.aaaa {
  height: 15px;
  width: 15px;
}

.result-item {
  font-weight: bold;
  margin: 10px;
}
.result-item-a {
  font-weight: bold;
  margin: 7px;
  font-size: 13px;
}

.button-delete {
  margin-top: 5px;
  border-style: none;
  background-color: transparent;
}
